html,
body {
  width: 100%;
  height: 100%;
}

body {
  padding: 200px 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.cube-container {
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* perspective: 800px; */
}

.cube {
  width: 300px;
  height: 300px;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateX(-20deg) rotateY(20deg) rotateZ(0deg);
  transition: transform 1s;
}

.cube.animation {
  animation: rotateAnimation 6s linear infinite;
}

.cube.horizon-spin {
  animation: spinHorizon 5s linear infinite;
}

.face {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: black;
  border: 10px solid black;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: 0.9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.5s;
}

.face .cell {
  transition: transform 0.5s;
}

.in-face {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
  position: absolute;
  left: 75px;
  top: 75px;
  width: 150px;
  height: 150px;
  background-color: black;
  border: 5px solid black;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* opacity: 0.9; */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

@keyframes rotateAnimation {
  0% {
    transform: rotateX(-360deg) rotateY(-180deg);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

@keyframes spinHorizon {
  0% {
    transform: rotateX(-20deg) rotateY(20deg) rotateZ(0deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(-20deg) rotateY(20deg) rotateZ(0deg) rotateY(360deg);
  }
}

.front {
  transform: translateZ(150px);
}

.back {
  transform: translateZ(-150px) rotateY(180deg);
}

.top {
  transform: rotateX(90deg) translateZ(150px);
}

.bottom {
  transform: rotateX(-90deg) translateZ(150px);
}

.left {
  transform: rotateY(-90deg) translateZ(150px);
}

.right {
  transform: rotateY(90deg) translateZ(150px);
}

.front .cell {
  background-color: red;
}

.back .cell {
  background-color: yellow;
}

.top .cell {
  background-color: white;
}

.bottom .cell {
  background-color: green;
}

.left .cell {
  background-color: blue;
}

.right .cell {
  background-color: purple;
}

.front .cell:first-child {
  transform: translateX(0px);
}

.front .cell:nth-child(2) {
  transform: translateX(0px);
}

.front .cell:nth-child(3) {
  transform: translateX(0px);
}

.front .cell:nth-child(4) {
  transform: translateX(0px);
}

.front .cell:nth-child(5) {
  transform: translateX(0px);
}

.front .cell:nth-child(6) {
  transform: translateX(0px);
}

.front .cell:nth-child(7) {
  transform: translateX(0px);
}

.front .cell:nth-child(8) {
  transform: translateX(0px);
}

.front .cell:nth-child(9) {
  transform: translateX(0px);
}

.left .cell:first-child {
  transform: translateX(0px);
}

.in-front {
  transform: rotateY(0deg) translateZ(75px);
}

.in-back {
  transform: translateZ(-75px) rotateY(180deg);
}

.in-top {
  transform: rotateX(90deg) translateZ(75px);
}

.in-bottom {
  transform: rotateX(-90deg) translateZ(75px);
}

.in-left {
  transform: rotateY(-90deg) translateZ(75px);
}

.in-right {
  transform: rotateY(90deg) translateZ(75px);
}

.in-front .cell {
  background-color: gold;
}

.in-back .cell {
  background-color: white;
}

.in-top .cell {
  background-color: gray;
}

.in-bottom .cell {
  background-color: pink;
}

.in-left .cell {
  background-color: blueviolet;
}

.in-right .cell {
  background-color: salmon;
}

.footer {
  margin-top: 150px;
}

.footer .btn {
  cursor: pointer;
  padding: 5px 20px;
  border-radius: 10px;
  border: 1px solid blue;
  font-size: 18px;
  color: blue;
}

.footer .btn + .btn {
  margin-left: 15px;
}
